@media(max-width:576px){


    .row-bg {
        padding: 0;
    }
    .about-text {
        padding-left: 0;
    }
    .hero-img-wrapper {
        position: static;
    }
    .hero-img-wrapper img{

        width: 100%;
        height: auto;
    }
}